<div id="container">
  <mat-card>
    <mat-card-title>Todos</mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let todo of todos$ | async">
          <h4 matLine>
            <mat-checkbox
              [checked]="todo.isClosed"
              disabled="false"
              (change)="onClickCheckbox(todo,$event)"
            ></mat-checkbox>
            <span [ngClass]="!todo.isClosed ? 'null' : 'strikethrough'" class="libelle">{{ todo.title }}</span>
            <button type="button" (click)="onClickDetail(todo.id)" class="button-detail">
              Detail
            </button>
          </h4>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
